@import url('http://fonts.cdnfonts.com/css/ferrum');

#manaRegen, #manaRegen2 {
    color: rgb(62, 192, 252);
}

#level, #reqLevel {
    color: rgb(241, 185, 0);
}

#spirit {
    color: rgb(130, 235, 235);
}

#result2 {
    display: none;
}

#note {
    font-size: small;
    font-style: italic;
}

#content {
    width: 25%;
    border-radius: 5px;
    background-color: #3d3d3d;
    padding: 20px;
    margin: auto;
}

h1, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-family: 'Ferrum';
    font-size: 80px;
    font-weight: 400;
    margin: 5px;
}

h2 {
    margin: 0;
}

input {
    width: 100%;
    padding: 5px 5px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    margin: auto;
    font-size: large;
}

button {
    background-color: green;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: auto;
    font-size: large;
}

button:hover {
    background-color: #45a049;
}

body {
    background-color: rgb(32, 32, 32);
    color: white;
    text-align: center;
    font-size: large;
}

label {
    font-size: larger;
}

footer {
    display: block;
    color: lightgray;
    font-size: small;
    margin: 10px;
}
